# generico
.DS_Store
.vagrant

# python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# configurazione locale
.env

# certificati generati a runtime e configurazione nginx di produzione
nginx/certs/
nginx/prod/default.conf
*.pem
